/* =Responsive stuff */
@media (min-width: 1200px) { 
	.container {
		width: 1200px;
	}
}
/**/

/* =bootstrap overrides */
body {
	margin: 10px 0;
}

.hero-unit {
	background-color: #0088CC;
	color: #fff;
}

.nav-tabs > .active > a {
	color: #fff;
	background-color: #0088CC;
}

.label,
.badge {
	padding: 4px 6px;
}
.badge {
	border-radius: 5px;
}

/* =featured */
.featured {
	margin-bottom: 42px;
}
.featured a {
	text-decoration: none;
	color: #333;
}
.featured a > .thumbnail {
	background-color: #fff;
}
.featured a:hover > .thumbnail{
	background: #F5F5F5;
}

/* =lists */
.h-list {
	margin: 0;
	list-style: none;
}
.h-list > li {
	display: inline;
	margin-right: 16px;
}

/* =entry */
.entries {
	border-top: 1px solid #ddd;
	padding-top: 42px;
}
.entry {
	padding-bottom: 24px;
	margin-bottom: 36px;
	border-bottom: 1px dotted #ddd;
}
.entry-hd {
	color: #999;
	font: 12px georgia;
	letter-spacing: 1px;
}
.entry-published {
	text-align: right;
}
.entry > .h3 {
	font-size: 24px;
}
.entry-text {
	font-family: "Gentium Book Basic", serif;
	font-size: 16px;
}

.active {
	background: #c30;
}

/* =Typography */
h1, .h1 {
	font-weight: normal;
	font-family: "georgia"
}
h2, .h2 {}
h3, .h3 {
	font: normal 24px "georgia", "PT Sans Narrow", sans-serif;
}
h4, .h4 {}
h5, .h5 {}
h6, .h6 {}
